/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 1rem;
}

.row {
    display: flex;
}

.app_container {
    height: calc(100vh - 92px);
}

.sidebar {
    width: 233px;
    height: calc(100vh - 92px);
    overflow: hidden;
}

.playlist_container {
    width: calc(100% - 233px);
    overflow-y: auto;
}

.controls_container {
    height: 92px;
}

a {
    text-decoration: none;
}

/* #endregion GLOBAL RULES */

/* #region VARIABLES */

:root {
    --sp-dark: black;
    --sp-call-to-a: #080b12b3;
    --sp-main-bg: #141922;
    --sp-light: #ffffff;
    --sp-sec-bg: #282828;
    --sp-secondary: #74767b;
    --sp-medium: #a3a3a3;
    --sp-highlight: #adff2f;
}

/* #endregion VARIABLES */

/* #region COLORS */

nav.sidebar {
    background-color: var(--sp-dark);
}

.sidebar a {
    color: var(--sp-secondary);
}

.upgrade_banner {
    background-color: var(--sp-call-to-a);
}

.upgrade_banner a.btn {
    color: var(--sp-light);
    border-color: var(--sp-light);
}

.playlist_container {
    background-color: var(--sp-main-bg);
}

nav.search_filters>ul li a,
.playlist_container span,
.album_card h5 {
    color: var(--sp-secondary);
}

.playlist_container h1,
.album_card h3,
.user_playlists h4,
nav.search_filters>ul li a:hover,
ul.custom_play li a:hover,
.new_play:hover,
.nav_bottom a:hover,
.user_panel span {
    color: var(--sp-light);
}

.controls_container {
    background-color: var(--sp-sec-bg);
}

.navigation a:hover {
    border-color: var(--sp-highlight);
    color: var(--sp-light);
}

.navigation svg path {
    fill: var(--sp-medium);
}

.navigation a:hover svg path {
    fill: var(--sp-light);
}

.add_play {
    background-color: var(--sp-medium);
    color: var(--sp-dark);
}

.user_avatar {
    background-color: var(--sp-medium);
}

.new_play:hover .add_play {
    background-color: var(--sp-light);
}

hr {
    background-color: var(--sp-secondary);
}

/* #endregion COLORS */

/* #region UTILITIES */

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-col,
.nav_top,
.nav_bottom {
    flex-direction: column;
}

.just-btw {
    justify-content: space-between;
}

.align-cent {
    align-items: center;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.rounded {
    border-radius: 50%;
}

/* #endregion UTILITIES */

/* #region DEBUG */

.debug .app_container {
    border: 1px solid red;
    background-color: bisque;
}

.debug .sidebar {
    background-color: yellowgreen;
}

.debug .row {
    border: 2px dashed darkblue;
}

.debug .playlist_container {
    background-color: hsla(271, 76%, 53%, 0.5);
}

.debug .upgrade_banner {
    background-color: black;
}

.debug .btn {
    border-color: white;
    color: white;
}

.debug nav.search_filters {
    background-color: yellow;
}

.debug nav.search_filters ul li {
    border: 1px solid blueviolet;
}

.debug .controls_container {
    background-color: gray;
}

.debug p {
    border: 1px dashed white;
}

.debug .nav_top,
.debug .nav_bottom {
    background-color: beige;
}

/* DEBUG MEDIA QUERIES */
@media screen and (max-width: 552px) {

    .debug .sidebar {
        width: 50px;
    }

    .debug .playlist_container {
        width: calc(100% - 50px);
    }

}

/* #endregion DEBG */

/* #region SIDEBAR */

nav.sidebar>.container>.row {
    height: 100%;
}

nav.sidebar>.container {
    height: 100%;
}

.nav_top,
.nav_bottom {
    width: 100%;
}

.logo_container {
    padding: 1rem 0;
}

.logo_lg {
    width: 75%;
    display: block;
}

.logo_sm {
    display: none;
}

.navigation a {
    display: inline-block;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.5rem;
    border-left: 3px solid transparent;
    margin-left: -1rem;
    padding-left: 1rem;
}

.navigation a svg {
    display: inline-block;
    width: 1.5rem;
    vertical-align: middle;
}

.navigation a span {
    margin-left: 0.2rem;
}

.user_playlists h4 {
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.new_play {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.add_play {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}

/* DA FIXARE */
.user_play_wrap {
    max-height: 35em;
    overflow-y: auto;
}

ul.custom_play li a {
    display: inline-block;
    margin: 0.25rem 0;
    font-weight: bold;
}

.nav_bottom a {
    display: inline-block;
    padding: 0.25rem 0;
}

hr {
    height: 1px;
    border: none;
}

.user_panel {
    margin: 0.5rem 0;
}

.user_avatar {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: .5rem;
}

.user_avatar img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.user_panel span {
    font-weight: bold;
}

/* #endregion SIDEBAR */

/* #region UPGRADE BANNER */

.upgrade_banner {
    height: 5.5rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
}

/* UPGRADE BANNER POSITION STICKY */
.upgrade_banner {
    position: sticky;
    top: 0;
    left: 0;
}

.upgrade_banner a.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem 2rem;
}

/* #endregion UPGRADE BANNER */

/* #region TOP NAVBAR */

nav.search_filters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav.search_filters ul li {
    display: inline-block;
    margin: 1.25rem 0;
    position: relative;
}

nav.search_filters>ul li:first-of-type:after {
    content: "";
    width: 2rem;
    position: absolute;
    border-bottom: 3px solid var(--sp-highlight);
    margin-top: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

nav.search_filters>ul li a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
}

nav.search_filters>ul li {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* COME SI FA IL BORDINO VERDE SOTTO IL LINK? */

/* #endregion TOP NAVBAR */

/* #region PLAYLIST SECTIONS */

section.container h1,
section.container span {
    margin: 1.25rem 0.5rem;
}

.playlist_container span {
    font-size: 0.83rem;
    font-weight: bold;
    display: block;
}

/* #endregion PLAYLIST SECTIONS */

/* #region ALBUM CARDS */

.album_card {
    padding: 0.5rem;
}

.album_card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
}

.album_card h3,
.album_card h5 {
    text-align: center;
}

.album_card h3 {
    margin: 0.5rem 0;
}

.cover_wrapper {
    position: relative;
}

.play_hov {
    background-color: var(--sp-call-to-a);
    color: var(--sp-light);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: var(--sp-light);
    display: none;
}

.cover_wrapper:hover .play_hov {
    display: flex;
}

/* #endregion ALBUM CARDS */

/*---------- MEDIA QUERIES ----------*/

/* #region TABLET MD */

@media screen and (max-width: 878px) {

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

}

/* #endregion TABLET MD */

/* #region MOBILE BIG */

@media screen and (max-width: 639px) {

    .col-sm-6 {
        width: calc(100% / 12 *6);
    }

}

/* #endregion MOBILE BIG */

/* #region MOBILE MED */

@media screen and (max-width: 552px) {

    .sidebar {
        width: 50px;
    }

    .container {
        padding: 0 0.25rem;
    }

    .playlist_container {
        width: calc(100% - 50px);
    }

    .logo_container {
        padding: 0.2rem;
    }

    .hide_sm {
        display: none;
    }

    .logo_sm {
        display: block;
    }

    .navigation {
        margin-top: 1rem;
        text-align: center;
    }

    .nav_bottom {
        text-align: center;
    }

    .user_panel {
        justify-content: center;
    }

    .user_avatar {
        margin-right: 0;
    }

}

/* #endregion MOBILE MED */