/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    display: flex;
}

.app_container {
    height: calc(100vh - 92px);
}

.sidebar {
    width: 233px;
    height: 100%;
}

.playlist_container {
    width: calc(100% - 233px);
    overflow: auto;
}

.controls_container {
    z-index: 10;
    height: 92px;
}

a {
    text-decoration: none;
}

/* #endregion GLOBAL RULES */

/* #region UTILITIES */

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

/* #endregion UTILITIES */

/* #region DEBUG */

.debug .app_container {
    border: 1px solid red;
    background-color: bisque;
}

.debug .sidebar {
    background-color: yellowgreen;
}

.debug .playlist_container {
    background-color: hsla(271, 76%, 53%, 0.5);
}

.debug nav.search_filters {
    background-color: yellow;
}

.debug nav.search_filters ul li {
    border: 1px solid blueviolet;
}

.debug .controls_container {
    background-color: gray;
}

.debug p {
    border: 1px dashed black;
}

/* DEBUG MEDIA QUERIES */
@media screen and (max-width: 552px) {

    .debug .sidebar {
        width: 50px;
    }

    .debug .playlist_container {
        width: calc(100% - 50px);
    }

}

/* #endregion DEBG */

/* #region TOP NAVBAR */

nav.search_filters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav.search_filters ul li {
    display: inline-block;
    margin: 20px 0;
}

nav.search_filters>ul li a {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 20px;
}

/* nav.search_filters>ul li+li {
    margin-left: 24px;
} */

nav.search_filters>ul li {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* COME SI FA IL BORDINO VERDE SOTTO IL LINK?
CHE USARE PER FARE ANDARE A CAPO I LINK COME NELLO SCREEN? */

/* #endregion TOP NAVBAR */

/*---------- MEDIA QUERIES ----------*/

/* TABLET MD */
@media screen and (max-width: 878px) {

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

}

/* MOBILE BIG */
@media screen and (max-width: 639px) {

    .col-sm-6 {
        width: calc(100% / 12 *6);
    }

}

/* MOBILE MED */
@media screen and (max-width: 552px) {

    /* .debug .sidebar {
        width: 50px;
    }

    .debug .playlist_container {
        width: calc(100% - 50px);
    } */

}